<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客运段人事管理系统</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/base-style.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/sidebar-menu.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    {% endblock head %}
</head>
<body>
    {% block body%}
    <div class="wrapper">
        {# 头部导航栏 #}
        {% block top_nav%}
        <header>
            <div class="left">
                <button id="menu" title="Menu"><i class="fa fa-bars fa-2x"></i></button>
                <a href="/" style="font-size: 18px;">客运段人事管理系统</a>
            </div>

            <div class="utils right">
                <ul class="nav navbar-nav navbar-right ">
                    {% if current_user.is_authenticated -%}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ current_user.name }} 
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">浏览操作日志</a></li>
                            <li><a href="/logout">注销</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li> 
                    {%- endif %}
                </ul>
            </div>
        </header>
        {% endblock top_nav%}
        {# 主体部分 #}
        {% block body_content %}
        <div class="content">
            {# 左边导航栏 #}
            {% block left_nav %}
            <aside>
                <nav class='site-nav sidebar-menu'>
                    <ul >
                        <!-- <li class="header" style="color: white;font-size: 180%"><strong>人事管理系统</strong></li> -->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>数据标准管理</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/dict"><i class="fa fa-circle-o"></i> 数据字典管理</a></li>
                                <li><a href="/org"><i class="fa fa-circle-o"></i> 组织机构管理</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="/employee/scan">
                                <i class="fa fa-book"></i> <span>员工信息查阅</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/employee">
                                <i class="fa fa-dashboard"></i> <span>员工信息管理</span>
                            </a>
                        </li> 
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>员工变动管理</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/employee/insert/"><i class="fa fa-circle-o"></i> 新增员工</a></li>
                                <li><a href="/employee/batch/"><i class="fa fa-circle-o"></i> 批量新增员工</a></li>
                                <li><a href="/employee/remove/"><i class="fa fa-circle-o"></i> 减少员工</a></li>
                                <!-- <li><a href="#"><i class="fa fa-circle-o"></i> 批量修改员工</a></li> -->
                                <li><a href="/employee/inside/"><i class="fa fa-circle-o"></i> 员工内部变动</a></li>
                                <li><a href="/employee/formal/"><i class="fa fa-circle-o"></i> 员工定职管理</a></li>

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-pie-chart"></i>
                                <span>员工统计管理</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/statistics"><i class="fa fa-circle-o"></i> 员工信息统计</a></li>
                                <li><a href="/statistics/change"><i class="fa fa-circle-o"></i> 员工变动统计</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>系统信息管理</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/log/change"><i class="fa fa-circle-o"></i> 员工变动日志</a></li>
                                <li><a href="/log"><i class="fa fa-circle-o"></i> 系统登录日志</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            {% endblock left_nav %}
            {# 内容 #}
            {% block container %}
            <section>
                <!-- <iframe src="" scrolling="yes" frameborder="0"></iframe> -->
            </section>
            {% endblock container %}
            <!-- <div class="site-footer">
                <div class="right">
                    <a href="">Terms of Use</a>
                    <span class="sep"></span>
                    <a href="" class='feedback'><i class="fa fa-bullhorn"></i> Feedback</a>
                </div>       
            </div> -->
            <!--//body content-->
        </div>
        {% endblock body_content %}
        <!--//Main Content-->
    </div>

    {# 基础引用的包 #}
    {% block base_script%}
        <script src="../static/js/jquery-2.1.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/sidebar-menu.js"></script>
        <script>
            $(document).ready(function(){
                $('#menu').on('click', function () {
                        $(this).toggleClass('active');
                        $('body').toggleClass('nav-open');
                        // $('.main-sidebar').toggleClass('nav-move');
                    });
                $.sidebarMenu($('.sidebar-menu'));
            });
        </script>
        
    {% endblock base_script %}
    {% endblock body%}
</body>
</html>