<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客运段人事管理系统</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="../static/css/bootstrap-table.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css" media="screen">
    <link rel="stylesheet" href="../static/css/style.css" /> 
    <link rel="stylesheet" href="../static/css/sidebar-menu.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">

</style>
  <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
        <div class="container-fluid"> 
            <div class="navbar-header"> 
                <a class="navbar-brand" href="/">客运段人事管理系统</a> 
            </div> 
            <ul class="nav navbar-nav navbar-right"> 
                <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>  -->
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li> 
            </ul> 
        </div> 
    </nav>
    <aside class="main-sidebar">
        <section  class="sidebar">
            <ul class="sidebar-menu">
                <!-- <li class="header" style="color: white;font-size: 180%"><strong>人事管理系统</strong></li> -->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>人员管理</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 人员信息管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 人员信息浏览</a></li>
                        <!-- <li><a href="#"><i class="fa fa-circle-o"></i> 人员信息浏览</a></li> -->
                        <!-- <li><a href="#"><i class="fa fa-circle-o"></i> 人员列表查询</a></li> -->
                        <li><a href="#"><i class="fa fa-circle-o"></i> 人员信息统计</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 人员变动管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>数据标准管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 数据字典管理</a></li>
                        <li><a href="/org"><i class="fa fa-circle-o"></i> 组织机构管理</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>统计分析</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 人员变动统计</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>系统管理</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> 系统日志管理</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> 登录用户管理</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    
    <div class="container">
        <!-- 侧方标签栏 -->
        <div class="row col-sm-2">
            <div class="span2">
                <ul id="type_tab" class="nav nav-list"></ul>
            </div>
        </div><!-- 侧方标签栏end -->
        
        <!-- 表格区域 -->
        <div class="col-sm-10">
            <!-- 表格的工具栏 -->
            <div id="table_toolbar" class="btn-group">
                <button id="btn_addSeg" class="btn btn-default" onclick="initInsertModalFunc()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
                <button id="btn_removeSeg" class="btn btn-default" onclick="removeDictionarysFunc()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                </button>
                <!-- 批处理下拉按钮 -->
                <div class="btn-group">
                    <button id="btn_batch" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-import" aria-hidden="true"></span>批处理
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="download_btn">下载格式文件</a></li>
                        <li><a href="#unloadModal" data-toggle="modal">批量上传数据</a></li>
                    </ul>
                </div>
            </div><!-- 表格的工具栏end -->

            <table id="table"></table>
            
        </div><!-- 表格区域end -->

    </div>

    <!-- 详情模态框 -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >操作日志详情</h4>
                </div> <!-- modal.header -->
                <form class="modal-body" id="detailModal_form">
                    <label>编号:</label>
                    <input type="text" name="detailModal_id" id="detailModal_id" class="form-control" >
                    <span id="detailModal_id_tip" style="color: red"></span>
                    <br>
                    <label>名称:</label>
                    <input type="text" name="detailModal_name" id="detailModal_name" class="form-control" >
                    <span id="detailModal_name_tip" style="color: red"></span>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
                        <input type="submit" class="btn btn-primary" name="detailModal_submit" id="detailModal_submit" value="提交更新">
                    </div><!-- modal-footer -->
                </form>
            </div><!-- modal-content end -->
        </div><!-- modal-dialog end -->
        
    </div><!-- 详情模态框end -->

    <!--上传文件模态框-->
    <div class="modal fade" id="unloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >批量上传数据</h4>
                </div> <!-- modal.header -->
                <form id="unloadModal_form" class="modal-body" action="/dict/unload" method='post' enctype='multipart/form-data'>
                    <h1>Excel file upload (xls, xlsx please)</h1>
                    <input type='file' class="btn btn-default" name='file'>
                    <input type="hidden" id="unload_type_id" name="unload_type_id">
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
                        <input type="submit" class="btn btn-primary" id="unloadModal_submit" name="submit" value="上传">
                    </div>
                </form><!-- modal-body -->
            </div><!-- /.modal.content -->
        </div><!-- /.modal -->
    </div><!--上传文件模态框end-->

    <script src="../static/js/jquery-2.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-table.js"></script>
    <script src="../static/js/bootstrap-select.js"></script>
    <script src="../static/js/jquery.form.js"></script>
    <script src="../static/js/sidebar-menu.js"></script>
    <script src="../static/js/bootstrap-table-export.js"></script>
    <script src="../static/js/tableExport.js"></script><!-- bootstrap table本身是没有实现表格的导出的，需要扩展插件tableExport，扩展的tableExport在导出csv，txt，sql，json等格式的时候能很好的支持中文 -->
    
    <!-- 初始化函数 -->
    <script >
        $(document).ready(function(){

            //初始化window.type_id
            changeWindows_typeId(1);

            //异步请求，初始化加载数据字典侧方标签栏
            $.ajax({
                type: 'get',
                url: '/dict/listAll',
                success: function(data){
                    // $(tab) = $('#type_tab');
                    var text = "";
                    // 转换为json对象
                    var dataObj=eval("("+data+")");
                    // alert(dataObj);
                    for (var i = 0; i < dataObj.length; i++) {
                        text += '<li><a href="#" onclick="changeWindows_typeId(' + dataObj[i].id + ')">' + dataObj[i].name + "</a></li>";
                    }
                    $('#type_tab').html(text);
                }
            });

            //table初始化
            $('#table').bootstrapTable({
                url:'/dict/listDictByTypeId?id=1',
                toolbar:'#table_toolbar',
                search: true, //是否显示 搜索框
                showColumns: true, //是否显示 选择显示列按钮
                pagination: true, //设置分页
                pageList: [25,50,100],
                pageSize: 25,
                idField: 'id', //重要,可设置checkbox的值为指定字段
                selectItemName: 'id', //设置checkbox name属性，可用于遍历获取选中值
                clickToSelect: true, //将在点击行时，自动选择checkbox
                striped: true, //是否显示 表格条纹
                showExport: true, //是否显示导出按钮
                exportDataType: 'all',//FIXME:导出文件方式  支持: 'basic', 'all', 'selected'. basic：本页数据，all，获取服务器所有数据，selected,本页选择行数据
                Icon: 'glyphicon-export', //导出的图标设置
                exportOptions:{ //导出文件格式设置
                    ignoreColumn: [0,3],
                    fileName: '数据字典管理表'+new Date().getFullYear() + (new Date().getMonth() + 1) + new Date().getDate()
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: '编号',
                    sortable: true
                }, {
                    field: 'name',
                    title: '名称',
                    sortable: true
                }, {
                    field: 'operation',
                    title: '操作',
                    align: 'center',
                    valign: 'middle',
                    formatter: function(value, row, index){
                        return "<a href='#' data-toggle='modal' onclick='initEditModalFunc(\""+row.id+"\",\""+row.name+"\")'>修改</a> " + 
                        " <a href='#' onclick='removeDictionaryRequest(\""+row.id+"\")' >删除</a>"
                    }
                }],
            });
            
            //菜单初始化
            $.sidebarMenu($('.sidebar-menu'));

            //初始化详情模态框中的提交响应函数
            $('#detailModal_form').submit(function(e){
                if($('#detailModal_title').text() == '修改信息')
                    $(this).ajaxSubmit({
                        url: '/dict/update',
                        type: 'post',
                        data:{
                            id: $('#detailModal_id').val(),
                            name: $('#detailModal_name').val()
                        },
                        beforeSubmit: function(formData, jqForm, options){
                            //非空检查
                            var flag = true;//非空检查结果
                            name = formData[1].value;
                            if(name.trim() == ""){
                                $('#detailModal_name_tip').text('必填');
                                flag = false;
                            }
                            else if (name.length > 50){
                                $('#detailModal_name_tip').text('长度不大于50');
                                flag = false;
                            }
                            if(flag)
                                $("#detailModal_submit").attr({ disabled: "disabled" });// 禁用按钮防止重复提交
                            return flag;
                        },
                        success: function(data){
                            alert("update : " + data);
                            if(data == 'success'){
                                $("#detailModal").modal("hide");
                                $('#table').bootstrapTable('refresh',{url:'/dict/listDictByTypeId?id=' + window.type_id});
                            }
                        },
                        complete: function(){
                            $("#detailModal_submit").removeAttr("disabled");
                        }
                    });
                else 
                    $(this).ajaxSubmit({
                        url: '/dict/insert',
                        type: 'get',
                        data:{
                            id: $('#detailModal_id').val(),
                            name: $('#detailModal_name').val(),
                            type_id: window.type_id
                        },
                        beforeSubmit: function(formData, jqForm, options){
                            //非空检查
                            var flag = true;//非空检查结果
                            //[0]---id,[1]---name
                            var id = formData[0].value;
                            var name = formData[1].value;
                            if(id.trim() == ""){
                                $('#detailModal_id_tip').text('必填');
                                flag = false;
                            }
                            else if(id.length > 30){
                                $('#detailModal_name_tip').text('长度不大于30');
                                flag = false;
                            }
                            if(name.trim() == ""){
                                $('#detailModal_name_tip').text('必填');
                                flag = false;
                            }
                            else if (name.length > 50){
                                $('#detailModal_name_tip').text('长度不大于50');
                                flag = false;
                            }
                            if(flag)
                                $("#detailModal_submit").attr({ disabled: "disabled" });// 禁用按钮防止重复提交
                            return flag;
                        },
                        success: function(data){
                            alert("insert : " + data);
                            if(data == 'success'){
                                $("#detailModal").modal("hide");
                                $('#table').bootstrapTable('refresh',{url:'/dict/listDictByTypeId?id=' + window.type_id});
                            }
                            else if(data == 'id_error'){
                                $('#detailModal_id_tip').text('此id已存在');
                            }
                        },
                        complete: function(){
                            $("#detailModal_submit").removeAttr("disabled");
                        }
                    });
                // always return false to prevent standard browser submit and page navigation 
                return false;//阻止表单默认提交
            });
            
        });
    </script>
    
    <!-- 功能函数 -->
    <script>

        /**
         * 修改windows.type_id以及与之联系的控件的值
         *作用于侧方字典类型按钮点击事件的响应函数
         *每一次点击意味着显示的字典类型的改变，故页面相应的控件以及全局变量需要改变
         * 
         * @param  {int} type_id 字典类型id
         */
        function changeWindows_typeId(type_id){
            window.type_id = type_id;//改变全局变量
            $('#table').bootstrapTable('refresh',{url: '/dict/listDictByTypeId?id=' + type_id});//重载table数据
            $('#download_btn').attr('href','/dict/download?id='+window.type_id);//重载“下载格式文件”按钮的链接
            $('#unload_type_id').val(window.type_id);
        }

        /**
         * 初始化修改段信息模态框
         * 第1步，初始化标题和提交按钮的响应事件
         * 第2步，提交按钮设置
         * 第3步，显示模态框 
         * @return 显示修改段信息模态框
         */
        function initInsertModalFunc(){
            $('#detailModal_title').text('新增信息');
            $('#detailModal_id').attr('readonly',false);
            $('#detailModal_id').val('');
            $('#detailModal_name').val('');
            $('#detailModal_id_tip').text('');
            $('#detailModal_name_tip').text('');
            $('#detailModal').modal('show');
        }

        /**
         * 初始化修改段信息模态框
         * 第1步，初始化标题和提交按钮的响应事件
         * 第2步，提交按钮设置
         * 第3步，显示模态框 
         * @return 显示修改段信息模态框
         */
        function initEditModalFunc(id, name){
            $('#detailModal_title').text('修改信息');
            $('#detailModal_id').attr('readonly',true);
            $('#detailModal_id').val(id);
            $('#detailModal_name').val(name);
            $('#detailModal_id_tip').text('');
            $('#detailModal_name_tip').text('');
            $('#detailModal').modal('show');
        }

        /**
         * 删除多个选中信息
         * 第一步，获取选中id，得到一个list
         * 第二步，将list转为固定格式的字符串
         * 第三步，发送删除请求
         */
        function removeDictionarysFunc(){
            var array = $("#table").bootstrapTable('getSelections');//返回所选的行，当没有选择任何行的时候返回一个空数组。
            var target = "";
            //将数组转换成字符串
            for (var i = array.length - 1; i >= 0; i--) {
                target +=array[i].id;
                if(i > 0 )
                    target +=",";
            }
            removeDictionaryRequest(target);
        }
    </script>

    <!-- 发送请求函数 -->
    <script>
        /**
         * 删除请求
         * @param  {string} id_string 一串待删除的字典id，格式为1,2,3
         * @return {[type]}           [description]
         */
        function removeDictionaryRequest(id_string){
            $.ajax({
                type: 'get',
                url: '/dict/remove',
                data:{
                    target_string: id_string
                },
                success: function(data){
                    alert("delete ：" + data);
                    $("#table").bootstrapTable('remove', {field: 'id', values: id_string.split(',')});
                }
            });
        }
    </script>
    </body>
    </html>