<!DOCTYPE html>
<html lang="zh">
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock head %} 
</head>
<body>
    {% block body %}
        {% block top_nav %}
            {{ super() }}
        {% endblock top_nav %}
        
        {% block left_nav %}
            {{ super() }}
        {% endblock left_nav %}
        
        {% block container %}
            <section>
                <nav class="breadcrumb" style="margin-bottom: 0px;">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    首页 
                    <span class="c-gray en">&gt;</span> 
                    数据标准管理
                    <span class="c-gray en">&gt;</span> 
                    数据字典管理
                    <a class="btn btn-success radius r" style="vertical-align: right" href="javascript:location.reload();" title="刷新">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </a>
                </nav>
                <!-- 侧方标签栏 -->
                <div class="row col-sm-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">数据字典类型</h3>
                        </div>
                        <div>
                            <ul id="type_tab" class="nav nav-list"></ul>
                        </div>
                    </div>
                </div><!-- 侧方标签栏end -->

                <!-- 表格区域 -->
                <div class="col-sm-9">
                    <!-- 表格的工具栏 -->
                    <div id="table_toolbar" class="btn-group">
                        <button id="btn_addSeg" class="btn btn-default" onclick="initInsertModalFunc()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                        </button>
                        <button id="btn_removeSeg" class="btn btn-default" onclick="removeDictionarysFunc()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                        </button>
                        <!-- 批处理下拉按钮 -->
                        <div class="btn-group">
                            <button id="btn_batch" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>批处理
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="download_btn">创建格式文件</a></li>
                                <li><a href="#uploadModal" data-toggle="modal">批量导入数据</a></li>
                            </ul>
                        </div>
                    </div><!-- 表格的工具栏end -->

                    <table id="table"></table>

                </div><!-- 表格区域end -->
            </section>            
        {% endblock container %}
        
        <!-- 详情模态框 -->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="detailModal_title"></h4>
                    </div> <!-- modal.header -->
                    <form class="modal-body" id="detailModal_form">
                        <label>编号:</label>
                        <input type="text" id="detailModal_id" class="form-control" required>
                        <span id="detailModal_id_tip" style="color: red"></span>
                        <br>
                        <label>名称:</label>
                        <input type="text" id="detailModal_name" class="form-control" required>
                        <span id="detailModal_name_tip" style="color: red"></span>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
                            <input type="submit" class="btn btn-primary" name="detailModal_submit" id="detailModal_submit" value="确定">
                        </div><!-- modal-footer -->
                    </form>
                </div><!-- modal-content end -->
            </div><!-- modal-dialog end -->
        </div><!-- 详情模态框end -->
    
        <!--上传文件模态框-->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >批量导入数据</h4>
                    </div> <!-- modal.header -->
                    <form id="uploadModal_form" class="modal-body" >
                        <h2>上传批量导入模板，仅支持Excel文件。</h2>
                        <p>提示：请关闭迅雷插件</p>
                        <input type='file' class="btn btn-default form-control" name='file'>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
                            <input type="submit" class="btn btn-primary" id="uploadModal_submit" name="submit" value="导入">
                        </div>
                    </form><!-- modal-body -->
                </div><!-- /.modal.content -->
            </div><!-- /.modal -->
        </div><!--上传文件模态框end-->
        

        {% block base_script %}
            {{ super() }}
            <script src="../static/js/bootstrap-table.js"></script>
            <script src="../static/js/bootstrap-select.js"></script>
            <script src="../static/js/jquery.form.js"></script>
            <script src="../static/js/bootstrap-table-export.js"></script>
            <script src="../static/js/tableExport.js"></script><!-- bootstrap table本身是没有实现表格的导出的，需要扩展插件tableExport，扩展的tableExport在导出csv，txt，sql，json等格式的时候能很好的支持中文 -->
        {% endblock base_script %}

        <!-- 初始化函数 -->
        <script >
            $(document).ready(function(){

                //初始化window.type_id
                changeWindows_typeId(1);
                //初始化加载数据字典侧方标签栏
                initNav();
                //table初始化
                $('#table').bootstrapTable({
                    url:'/dict/dictionarys/1',
                    toolbar:'#table_toolbar',
                    search: true, //是否显示 搜索框
                    showColumns: true, //是否显示 选择显示列按钮
                    pagination: true, //设置分页
                    pageList: [25,50,100],
                    pageSize: 25,
                    idField: 'id', //重要,可设置checkbox的值为指定字段
                    selectItemName: 'id', //设置checkbox name属性，可用于遍历获取选中值
                    clickToSelect: true, //将在点击行时，自动选择checkbox
                    striped: true, //是否显示 表格条纹
                    showExport: true, //是否显示导出按钮
                    exportDataType: 'all',//FIXME:导出文件方式  支持: 'basic', 'all', 'selected'. basic：本页数据，all，获取服务器所有数据，selected,本页选择行数据
                    Icon: 'glyphicon-export', //导出的图标设置
                    exportOptions:{ //导出文件格式设置
                        ignoreColumn: [0,3],
                        fileName: '数据字典管理表'+new Date().getFullYear() + (new Date().getMonth() + 1) + new Date().getDate()
                    },
                    columns: [{
                        checkbox: true
                    }, {
                        field: 'id',
                        title: '编号',
                        sortable: true
                    }, {
                        field: 'name',
                        title: '名称',
                        sortable: true
                    }, {
                        field: 'operation',
                        title: '操作',
                        align: 'center',
                        valign: 'middle',
                        formatter: function(value, row, index){
                            return "<a href='#' data-toggle='modal' onclick='initEditModalFunc(\""+row.id+"\",\""+row.name+"\")'>修改</a> " + 
                            " <a href='#' onclick='checkDelete(\""+row.id+"\",\""+ row.name +"\")' >删除</a>"
                        }
                    }],
                    onLoadError: function(status){
                        // alert(status);
                        alert('数据字典数据加载失败');
                    }
                });

                $('#detailModal_form').submit(function(event){
                    event.preventDefault();
                    var array = {
                        'id':$('#detailModal_id').val(),
                        'name': $('#detailModal_name').val(),
                        'type_id': window.type_id
                    };
                    if($('#detailModal_title').text() == '修改信息')
                        updateRequest(array)
                    else
                        insertRequest(array)
                });

                $('#uploadModal_form').submit(function(event){
                    event.preventDefault();
                    var formData = new FormData(this);
                    $.ajax({
                        type: 'post',
                        url: '/dict/upload',
                        data: formData,
                        mimeType: 'multipart/form-data',
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(message){
                            if(message == 'success'){
                                alert('上传成功，数据成功导入');
                                $('#uploadModal').modal("hide");
                                $('#table').bootstrapTable('refresh',{url: '/dict/dictionarys/' + type_id});//重载table数据
                            }
                            else
                                alert('上传失败,请检查数据填写是否正确，注意sheet名不可更改');
                        },
                        error: function(){
                            alert('上传失败');
                        }
                    });
                });
            });
            
            /**
             * 初始化加载数据字典侧方标签栏
             * @return {[type]} [description]
             */
            function initNav(){
                queryDictionaryTypeRequest();
            }
        </script>
    
        <!-- 功能函数 -->
        <script>

            /**
             * 修改windows.type_id以及与之联系的控件的值
             *作用于侧方字典类型按钮点击事件的响应函数
             *每一次点击意味着显示的字典类型的改变，故页面相应的控件以及全局变量需要改变
             * 
             * @param  {int} type_id 字典类型id
             */
            function changeWindows_typeId(type_id){
                window.type_id = type_id;//改变全局变量
                $('#table').bootstrapTable('refresh',{url: '/dict/dictionarys/' + type_id});//重载table数据
                $('#download_btn').attr('href','/dict/download/'+window.type_id);//重载“下载格式文件”按钮的链接
                $('#upload_type_id').val(window.type_id);
            }

            /**
             * 初始化修改段信息模态框
             * 第1步，初始化标题和提交按钮的响应事件
             * 第2步，提交按钮设置
             * 第3步，显示模态框 
             * @return 显示修改段信息模态框
             */
            function initInsertModalFunc(){
                $('#detailModal_title').text('新增信息');
                $('#detailModal_id').attr('readonly',false);
                $('#detailModal_id').val('');
                $('#detailModal_name').val('');
                $('#detailModal_id_tip').text('');
                $('#detailModal_name_tip').text('');
                $('#detailModal').modal('show');
            }

            /**
             * 初始化修改段信息模态框
             * 第1步，初始化标题和提交按钮的响应事件
             * 第2步，提交按钮设置
             * 第3步，显示模态框 
             * @return 显示修改段信息模态框
             */
            function initEditModalFunc(id, name){
                $('#detailModal_title').text('修改信息');
                $('#detailModal_id').attr('readonly',true);
                $('#detailModal_id').val(id);
                $('#detailModal_name').val(name);
                $('#detailModal_id_tip').text('');
                $('#detailModal_name_tip').text('');
                $('#detailModal').modal('show');
            }

            /**
             * 删除多个选中信息
             * 第一步，获取选中id，得到一个list
             * 第二步，将list转为固定格式的字符串
             * 第三步，发送删除请求
             */
            function removeDictionarysFunc(){
                var array = $("#table").bootstrapTable('getSelections');//返回所选的行，当没有选择任何行的时候返回一个空数组。
                var tip = '确认删除以下数据：\n'
                var target = "";
                //将数组转换成字符串
                for (var i = array.length - 1; i >= 0; i--) {
                    tip += '编号 : ' + array[i].id + ' , 名字 :' + array[i].name;
                    target +=array[i].id;
                    if(i > 0)
                        tip += '\n';
                        target +=",";
                }
                
                if(confirm(tip))
                    removeRequest(target);
            }

            function checkDelete(id, name) {
                if(confirm("确认删除以下字典信息：\n编号：" + id + " , 名字:" + name))
                    removeRequest(id);
            }
        </script>

        <!-- 发送请求函数 -->
        <script>
            function queryDictionaryTypeRequest(){
                $.ajax({
                    type: 'get',
                    url: '/dict/types',
                    async: true,
                    success: function(data){
                        var text = "";
                        // 转换为json对象
                        var dataObj=eval("("+data+")");
                        // alert(dataObj);
                        for (var i = 0; i < dataObj.length; i++) {
                            text += '<li><a href="#" onclick="changeWindows_typeId(' + dataObj[i].id + ')">' + dataObj[i].name + "</a></li>";
                        }
                        $('#type_tab').html(text);
                    },
                    error: function(message){
                        $('#type_tab').html('数据字典类型加载失败');
                    }
                });
            }

            function insertRequest(array) {
                $.ajax({
                    url: '/dict/insert',
                    type: 'post',
                    data: array,
                    async: false,
                    beforeSend: function(){
                        if(confirm('确认新增')){
                            $('#detailModal_id_tip').text('');
                            // 禁用按钮防止重复提交
                            $("#detailModal_submit").attr({ disabled: "disabled" });
                            return true;
                        }
                        else
                            return false;
                    },
                    success:  function(message){  
                        if(message == 'success'){
                            alert("新增数据字典 ： 成功");
                            $("#detailModal").modal("hide");
                            $('#table').bootstrapTable('refresh',{url:'/dict/dictionarys/' + window.type_id});
                        }
                        else if(message == 'id_error'){
                            $('#detailModal_id_tip').text('此id已存在');
                        }
                        else
                            alert('新增数据字典 ： 失败');
                    },
                    error: function(){
                        alert('新增数据字典异常');
                    },
                    complete: function(){
                        $("#detailModal_submit").removeAttr("disabled");
                    }
                });
            }

            function updateRequest(array){
                $.ajax({
                    url: '/dict/update',
                    type: 'post',
                    data: array,
                    async: false,
                    beforeSend: function(){
                        if(confirm('确认修改')){
                            // 禁用按钮防止重复提交
                            $("#detailModal_submit").attr({ disabled: "disabled" });
                            return true;
                        }
                        else
                            return false;
                    },
                    success:  function(message){  
                        if(message == 'success'){
                            alert("修改数据字典 ： 成功");
                            $("#detailModal").modal("hide");
                            $('#table').bootstrapTable('refresh',{url:'/dict/dictionarys/' + window.type_id});
                        }
                        else
                            alert('修改数据字典 ： 失败');
                    },
                    error: function(){
                        alert('新增数据字典异常');
                    },
                    complete: function(){
                        $("#detailModal_submit").removeAttr("disabled");
                    }
                });
            }

            /**
             * 删除请求
             * @param  {string} id_string 一串待删除的字典id，格式为1,2,3
             * @return {[type]}           [description]
             */
            function removeRequest(id_string){
                $.ajax({
                    type: 'post',
                    url: '/dict/remove',
                    data:{
                        target_string: id_string
                    },
                    success: function(message){
                        if(message == 'success'){
                            alert("删除字典信息 ： 成功");
                            $("#table").bootstrapTable('remove', {field: 'id', values: id_string.split(',')});
                        }
                        else
                            alert('删除字典信息 ： 失败');   
                    },
                    error: function(){
                        alert('新增数据字典异常');
                    }
                });
            }
        </script>

    {% endblock body %}
    
</body>
</html>