<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock head%}
</head>
<body>
    {% block body %}
        {% block top_nav %}
            {{ super() }}
        {% endblock top_nav %}

        {% block left_nav %}
            {{ super() }}
        {% endblock left_nav %}

        <div class="container">
            <!-- 树状结构 -->
            <div class="col-sm-4" id="tree" ></div>
            <!-- 树状结构end -->
            <div class="col-sm-8" id="tableview">
                <table id="employee-detail-table">
                    <tbody style="display: table-row-group;vertical-align: middle;">
                        <tr>
                            <td>
                                <div class="avatar">
                                    <img src="" >
                                </div>
                            </td>
                            <td>
                                <form id="photo-form" class="btn btn-hollow" action="/upload" method='post' enctype='multipart/form-data'>
                                    <input type="file" id="photo" name="photo" class="hide" onchange="UploadPhoto(this)" accept="image/*">
                                    更换头像
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td class="setting-title">
                                姓名
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% block base_script %}
            {{ super() }}
            <script src="../static/js/bootstrap-treeview.js"></script>
            <script src="../static/js/bootstrap-table.js"></script>
            <script src="../static/js/bootstrap-select.js"></script>
            <script src="../static/js/jquery.form.js"></script>
            <script src="../static/js/bootstrap-table-export.js"></script>
            <script src="../static/js/tableExport.js"></script><!-- bootstrap table本身是没有实现表格的导出的，需要扩展插件tableExport，扩展的tableExport在导出csv，txt，sql，json等格式的时候能很好的支持中文 -->
        {% endblock base_script %}

        <script>
            $(document).ready(function(){
                $('#employee-detail-table').hide();
                //设置表单的异步图片上传
                $('#photo-form').submit(function(event){
                    event.preventDefault();
                    var form = $(this);
                    var formData = new FormData(this);
                    $.ajax({
                        type: 'post',
                        url: '/employee/uploadPhoto',
                        mimeType: 'multipart/form-data',
                        data: formData,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(photourl){
                            alert(photourl);
                            $('img').attr('src',photourl);
                        },
                        error: function(){
                            alert('上传失败');
                        }
                    });
                });
                $.ajax({
                    type: 'get',
                    url: '/employee/treeAll',
                    success: function(data){
                        var text = "";
                        var dataObj=eval("("+data+")");// 转换为json对象
                        $('#tree').treeview({
                            levels: 9, //设置默认情况下树会展开的深层级别数量
                            data: dataObj,
                            expandIcon: "glyphicon glyphicon-chevron-right",
                            collapseIcon: "glyphicon glyphicon-chevron-down",
                            showTags: true,
                            onNodeSelected: function(event, node){
                                /**
                                 * 选中某一项时，先判断选中是否一个员工
                                 * 如果是员工，请求员工的数据
                                 */
                                console.log(node)
                                //选中一个员工，则发送请求
                                if(node.nodes == null && node.icon == "glyphicon glyphicon-user"){
                                    $.ajax({
                                        type: 'get',
                                        url: '/employee/saveemployeeid',
                                        data: {id: node.id},
                                        success: function(data){
                                            //请求成功后，服务器传回图片url
                                            var dataObj=eval("("+data+")");// 转换为json对象
                                            console.log(dataObj);
                                            $('img').attr('src',dataObj['photo_url']);
                                        },
                                        error: function(){
                                            alert('获取id出错');
                                        }
                                    });
                                    $('#employee-detail-table').show();
                                }
                                else
                                    $('#employee-detail-table').hide();
                            },
                            onNodeUnselected: function(event, node){
                            }
                        })
                    }
                });
                
            });

            /**
             * onchange响应函数
             * 负责异步发送上传图片请求
             * @param {HTMLElementObject} obj  this
             */
            function UploadPhoto(obj) {
                if( obj.value != "")//只有选中文件才能上传
                    $('#photo-form').submit();//自定义异步上传
                return false;  
            }
        </script>
    {% endblock body %}
</body>
</html>