<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% block head %}
    {{ super() }}
    {% endblock head %}
</head>
<body>
    {% block body %}
        {% block top_nav %}
            {{ super() }}
        {% endblock top_nav %}

        {% block left_nav %}
            {{ super() }}
        {% endblock left_nav %}

        <section >
            <div id="table_toolbar" class="btn-group">
                    <button id="btn_removeSeg" class="btn btn-default" onclick="removeEmployees()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>批量删除
                    </button>
                </div><!-- 表格的工具栏end -->
            <table id="table"></table>
        </section>

        {% block base_script %}
            {{ super() }}
            <script src="../static/js/bootstrap-treeview.js"></script>
            <script src="../static/js/bootstrap-table.js"></script>
            <script src="../static/js/bootstrap-select.js"></script>
            <script src="../static/js/jquery.form.js"></script>
            <script src="../static/js/bootstrap-table-export.js"></script>
            <script src="../static/js/tableExport.js"></script><!-- bootstrap table本身是没有实现表格的导出的，需要扩展插件tableExport，扩展的tableExport在导出csv，txt，sql，json等格式的时候能很好的支持中文 -->
            <script type="text/javascript">
                $(document).ready(function() {
                    initEmplpoyeeTable();
                });

                function initEmplpoyeeTable(){
                    $('#table').bootstrapTable({
                        toolbar: '#table_toolbar',
                        url: '/employee/scan/list_all',
                        search: true, //是否显示 搜索框
                        showColumns: true, //是否显示 选择显示列按钮
                        pagination: true, //设置分页
                        pageList: [25,50,100],
                        pageSize: 25,
                        idField: 'id', //重要,可设置checkbox的值为指定字段
                        selectItemName: 'id', //设置checkbox name属性，可用于遍历获取选中值
                        clickToSelect: true, //将在点击行时，自动选择checkbox
                        striped: true, //是否显示 表格条纹
                        // showExport: true, //是否显示导出按钮
                        // exportDataType: 'all',
                        // Icon: 'glyphicon-export', //导出的图标设置
                        // exportOptions:{ //导出文件格式设置
                        //     //ignoreColumn: [0,3],
                        //     fileName: '人员信息表'+new Date().getFullYear() + (new Date().getMonth() + 1) + new Date().getDate()
                        // },
                        columns: [{
                            checkbox: true
                        }, {
                            field: 'id',
                            title: '工号',
                            sortable: true
                        }, {
                            field: 'name',
                            title: '名称',
                            sortable: true
                        }, {
                            field: 'sex',
                            title: '性别',
                            formatter: function(value, row, index){
                                if(value == 1)
                                    return '男';
                                else
                                    return '女';
                            }
                        }, {
                            field: 'emp_type_name',
                            title: '用工性质',
                            sortable: true
                        }, {
                            field: 'org_name',
                            title: '所属部门',
                            sortable: true
                        }, {
                            field: 'position',
                            title: '职位',
                            sortable: true
                        }, {
                            field: 'degree',
                            title: '学位',
                            sortable: true
                        }, {
                            field: 'status',
                            title: '人员状态',
                            sortable: true
                        }, {
                            field: 'is_Practice',
                            title: '是否实习',
                            formatter: function(value, row, index){
                                if( value == 1)
                                    return '是';
                                else
                                    return '否';
                            }
                        }, {
                            field: 'political_status',
                            title: '政治面貌',
                            sortable: true
                        }, {
                            field: 'operation',
                            title: '操作',
                            align: 'center',
                            valign: 'middle',
                            formatter: function(value, row, index){
                                return "<a href='/employee/detail?id=" + row.id + "' target='_blank'>详情</a>" + " <a href='#' onclick='removeEmployeesRequest(\""+row.id+"\")' >删除</a>"
                            }
                        }],
                    });
                }

                function initDetailModalFunc(id){
                    window.open('/employee/detail?id=' + id);
                }

                function removeEmployees(){
                    var array = $('#table').bootstrapTable('getAllSelections');
                    if(array.length > 0){
                        var request_str = ''
                        for (var i = array.length - 1; i >= 0; i--) {
                            request_str += array[i]['id']
                            if(i > 0)
                                request_str += ','
                        }
                        // alert(request_str);
                        removeEmployeesRequest(request_str);
                    }
                    else
                        alert('请先选择需要删除的数据');
                }

                function removeEmployeesRequest(request_str){
                    $.ajax({
                        url: '/employee/removeEmployee',
                        type: 'post',
                        data:{id : request_str},
                        success: function(message){
                            if(message == 200){
                                alert('删除员工成功');
                                $('#table').bootstrapTable('remove', {field: 'id', values: request_str.split(',')});
                            }
                            else
                                alert('删除员工失败')
                        },
                    });
                };
            </script>
        {% endblock base_script %}
    {% endblock body %}
</body>
</html>