<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock head %}
</head>
<body>
    {% block body %}
        {% block top_nav %}
            {{ super() }}
        {% endblock top_nav %}

        {% block left_nav %}
            {{ super() }}
        {% endblock left_nav %}

        <div class="container">
            <!-- 树状目录结构 -->
            <div class="col-sm-4">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="" onkeypress="searchTreeview()">
                        <button type="button" class="btn btn-success" id="btn-search" onclick="searchTreeview()">Search</button>
                    </div>
                </form>
                <div id="tree"></div>
            </div>
            <!-- 树状结构end -->

            <!-- 表格区域 -->
            <div class="col-sm-8">
                <!-- 表格的工具栏 -->
                <!-- <div id="table_toolbar" class="btn-group">
                    <button id="btn_addSeg" class="btn btn-default" onclick="initInsertModel()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                    <button id="btn_removeSeg" class="btn btn-default" onclick="removeEmployees()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                    </button>
                    <div class="btn-group">
                        <button id="btn_batch" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>批处理
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="download_btn">创建格式文件</a></li>
                            <li><a href="#unloadModal" data-toggle="modal">批量导入数据</a></li>
                        </ul>
                    </div>
                </div> --><!-- 表格的工具栏end -->

                <table id="employeelist-table"></table>

            </div><!-- 表格区域end -->
            
            <!-- 员工信息模态框 -->
            <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content" style="width: 120%;align-content: center;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="detailModal-title"></h4>
                        </div> <!-- modal.header -->
                        <div id="tableview">
                            <table id="employee-detail-table" class="table-setting">
                                <!-- TODO(HX):还有字段没有添加 -->
                                <tbody style="display: table-row-group;vertical-align: middle;">
                                    <tr>
                                        <td>
                                            <div class="avatar">
                                                <img id="detailModal-photo" src="" >
                                            </div>
                                        </td>
                                        <td>
                                            <form id="photo-form" action="/upload" method='post' enctype='multipart/form-data'>
                                                <input type="file" id="photo" name="photo" onchange="UploadPhoto(this)" accept="image/*">
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            工号<span style="color: red;">*</span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="detailModal-id">
                                        </td>
                                        <td class="setting-title">
                                            职名
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-position"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            姓名<span style="color: red;">*</span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="detailModal-name">
                                        </td>
                                        <td class="setting-title">
                                            用工性质
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-worktype"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            曾用名
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="detailModal-oldname">
                                        </td>
                                        
                                        <td class="setting-title">
                                            所属部门
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-org"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            性别
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-sex">
                                                <option value='1'>男</option>
                                                <option value=0>女</option>
                                            </select>
                                        </td>
                                        <td class="setting-title">
                                            人员状态
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-status"></select>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            民族
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-nation"></select>
                                        </td>
                                        <td class="setting-title">
                                            技能档次
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-techlevel"></select>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            籍贯
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="detailModal-origin">
                                        </td>
                                        
                                        <td class="setting-title">
                                            学历
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-degree"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            身份证号
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="detailModal-id-num">
                                        </td>

                                        <td class="setting-title">
                                            政治面貌
                                        </td>
                                        <td>
                                            <select class="selectpicker" id="detailModal-political"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            联系电话1
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" id="detailModal-phone1">
                                        </td>
                                        <td class="setting-title">
                                            出生日期
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" id="detailModal-birthdate">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            联系电话2
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="detailModal-phone2">
                                        </td>
                                        <td class="setting-title">
                                            入职日期
                                        </td>
                                        <td>
                                            <input type="date" class="form-control" id="detailModal-work-date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            电子邮箱
                                        </td>
                                        <td>
                                            <input type="email" class="form-control" id="detailModal-email">
                                        </td>
                                        <td class="setting-title">
                                            家庭住址
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="detailModal-address">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="setting-title">
                                            备注
                                        </td>
                                        <td colspan="3">
                                            <input type="text" class="form-control" id="detailModal-others">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
                                <input type="button" class="btn btn-primary" id="detailModal-submit" name="submit" value="确认">
                            </div>
                        </div>
                    </div><!-- modal-content end -->
                </div><!-- modal-dialog end -->
            </div><!-- 员工信息模态框end -->
            <!-- 修工信息表 -->
            
        </div>

        {% block base_script %}
            {{ super() }}
            <script src="../static/js/bootstrap-treeview.js"></script>
            <script src="../static/js/bootstrap-table.js"></script>
            <script src="../static/js/bootstrap-select.js"></script>
            <script src="../static/js/jquery.form.js"></script>
            <script src="../static/js/bootstrap-table-export.js"></script>
            <script src="../static/js/tableExport.js"></script><!-- bootstrap table本身是没有实现表格的导出的，需要扩展插件tableExport，扩展的tableExport在导出csv，txt，sql，json等格式的时候能很好的支持中文 -->
        {% endblock base_script %}
        
        <!-- 初始化控件代码 -->
        <script type="text/javascript">
            $(document).ready(function(){
                // $('#employee-detail-table').hide();

                //请求treeview的数据，并加载、设置treeview的属性
                treeAllEmployeeRequest(); 
                initEmployeeListTable();          
                initPhotoSumbit();            
            });

            /**
             * 初始化treeview，加载数据，并设置属性
             * @param  {json} dataObj treeview的数据
             */
            function initTreeview(dataObj){
                $('#tree').treeview({
                    levels: 9, //设置默认情况下树会展开的深层级别数量
                    data: dataObj,
                    expandIcon: "glyphicon glyphicon-chevron-right",
                    collapseIcon: "glyphicon glyphicon-chevron-down",
                    showTags: true,
                    showBorder: false, //不显示边框
                    onNodeSelected: function(event, node){
                        /**
                         * 选中某一项时，先判断选中是否一个员工
                         * 如果是员工，请求员工的数据
                         */
                        console.log(node)
                        //选中一个员工，则打开员工信息详细页面
                        if(node.icon == "glyphicon glyphicon-user"){
                            window.open('/employee/detail?id=' + node.id);
                        }
                        else if('nodes' in node) {//选中的是一个组织且有孩子
                            reloadEmployeeListTable(node.nodes);
                        }
                    },
                    onNodeUnselected: function(event, node){
                        $('#employeelist-table').bootstrapTable('load',[]);
                    }
                });
            }

            /**
             * 初始化employeelist-table
             * 用于当选中一个组织时，右侧显示该组织下面的人员
             * @return {[type]} [description]
             */
            function initEmployeeListTable(){
                $('#employeelist-table').bootstrapTable({
                    // toolbar:'#table_toolbar',
                    search: true, //是否显示 搜索框
                    showColumns: true, //是否显示 选择显示列按钮
                    pagination: true, //设置分页
                    pageList: [25,50,100],
                    pageSize: 25,
                    idField: 'id', //重要,可设置checkbox的值为指定字段
                    selectItemName: 'id', //设置checkbox name属性，可用于遍历获取选中值
                    clickToSelect: true, //将在点击行时，自动选择checkbox
                    striped: true, //是否显示 表格条纹
                    showExport: true, //是否显示导出按钮
                    exportDataType: 'basic',//FIXME:导出文件方式  支持: 'basic', 'all', 'selected'. basic：本页数据，all，获取服务器所有数据，selected,本页选择行数据
                    Icon: 'glyphicon-export', //导出的图标设置
                    exportOptions:{ //导出文件格式设置
                        ignoreColumn: [0,5],
                        fileName: '成都客运段人员信息表'+new Date().getFullYear() + (new Date().getMonth() + 1) + new Date().getDate()
                    },
                    columns: [{
                        checkbox: true,
                    }, {
                        field: 'id',
                        title: '工号',
                        sortable: true
                    }, {
                        field: 'name',
                        title: '姓名',
                        sortable: true
                    }, {
                        field: 'emp_type_name',
                        title: '用工性质',
                        sortable: true
                    }, {
                        field: 'org_name',
                        title: '所属部门',
                        sortable: true
                    }, {
                        field: 'position',
                        title: '职名',
                        sortable: true,
                    }, {
                        field: 'status',
                        title: '人员状态',
                        sortable: true
                    }, {
                        field: 'is_Practice',
                        title: '是否实习',
                        formatter: function(value, row, index){
                            if( value == 1)
                                return '是';
                            else
                                return '否';
                        }
                    }, {
                        field: 'operation',
                        title: '操作',
                        align: 'center',
                        valign: 'middle',
                        formatter: function(value, row, index){
                            return "<a href='/employee/detail?id=" + row.id + "' target='_blank'>详情</a>" + " <a href='#' data-toggle='modal' onclick='queryEmployeesRequest(\""+row.id+"\","+ false + ")'>修改</a> "; 
                            // +" <a href='#' onclick='removeEmployeesRequest(\""+row.id+"\")' >删除</a>"
                        }
                    }],
                });
            }

            /**
             * 初始化自定义图片异步上传请求
             */
            function initPhotoSumbit(){
                //设置表单的异步图片上传
                $('#photo-form').submit(function(event){
                    event.preventDefault();
                    var form = $(this);
                    var formData = new FormData(this);
                    uploadPhotoRequest(formData);
                });
            }

            /**
             * 初始化新增员工信息模态框
             */
            function initInsertModel(){
                var data = new Array();
                data['title'] = '新增员工信息';
                // data[22] = '../static/image/Avatar.jpg';
                setDetailModelData(data);
                $('#detailModal-id').attr('readonly',false);
                $('#detailModal-worktype').removeAttr('disabled');
                $('#detailModal-position').removeAttr('disabled');
                $('#detailModal-org').removeAttr('disabled');
                $('#detailModal-status').removeAttr('disabled');

                $('#detailModal-submit').click(insertEmployeeRequest);
                $('#detailModal').modal("show");
            }

            function initEditModel(array){
                array['title'] = '修改员工信息';
                setDetailModelData(array);
                console.log(array);
                $('#detailModal-id').attr('readonly',true);
                $('#detailModal-worktype').attr('disabled',true);
                $('#detailModal-position').attr('disabled',true);
                $('#detailModal-org').attr('disabled',true);
                $('#detailModal-status').attr('disabled',true);
                $('#detailModal-submit').click(updateEmployeeRequest);
                $('#detailModal').modal("show");
            }

        </script>
        <!-- 业务逻辑代码 -->
        <script>         

            /**
             * 加载employeelist-table数据
             * 当选中一个组织，则在employeelist-table中加载该组织下面的员工信息
             * @param  {[type]} nodes 该组织的子节点array
             * @return {[type]}       [description]
             */
            function reloadEmployeeListTable(nodes) {
                var request_str = '';
                //获得选中的组织下面的人员，并转换成人员工号字符串，格式为1,2,3,
                for (var i = 0; i < nodes.length; i++) {
                    if(nodes[i].icon == 'glyphicon glyphicon-user'){
                        request_str += nodes[i].id;
                        if(i < nodes.length - 1)
                            request_str += ',';
                    }
                }
                if(request_str.length > 0)
                    queryEmployeesRequest(request_str);
            }

            /**
             * 设置模态框的控件的值
             * @param {array} array 字典
             * 所包含的字段有
             * title, id, name, old_name, sex, emp_type
             * org_id, status_id, position_id, id_num, political_status_id, nation_id,
             * degree_id, birthdate, work_date, origin, phone1, phone2,
             * address, email, techlevel_id, others
             */
            function setDetailModelData(array) {
                $('#detailModal-title').html(array['title']);
                if (typeof(array['id']) != "undefined")
                    $('#detailModal-id').val(array['id']);
                else
                    $('#detailModal-id').val('');
                
                if (typeof(array['name']) != "undefined")
                    $('#detailModal-name').val(array['name']);
                else
                    $('#detailModal-name').val('');
                
                if (typeof(array['old_name']) != "undefined")
                    $('#detailModal-oldname').val(array['old_name']);
                else
                    $('#detailModal-oldname').val('');

                if(typeof(array['sex']) != 'undefined')
                    $('#detailModal-sex').selectpicker('val', array['sex']);
                
                if (typeof(array['emp_type']) != "undefined")
                    setSelectData($('#detailModal-worktype'), array['emp_type'], '用工性质');
                else
                    setSelectData($('#detailModal-worktype'), undefined, '用工性质');

                if (typeof(array['org_id']) != "undefined")
                    setSelectData($('#detailModal-org'), array['org_id'], '所属部门', false);
                else
                    setSelectData($('#detailModal-org'), undefined, '所属部门', false);

                if (typeof(array['status_id']) != "undefined")
                    setSelectData($('#detailModal-status'), array['status_id'], '人员状态');
                else
                    setSelectData($('#detailModal-status'), undefined, '人员状态');

                if (typeof(array['position_id']) != "undefined")
                    setSelectData($('#detailModal-position'), array['position_id'], '职名');
                else
                    setSelectData($('#detailModal-position'), undefined, '职名');

                if (typeof(array['id_num']) != "undefined")
                    $('#detailModal-id-num').val(array['id_num']);
                else
                    $('#detailModal-id-num').val('');

                if (typeof(array['political_status_id']) != "undefined")
                    setSelectData($('#detailModal-political'), array['political_status_id'], '政治面貌');
                else
                    setSelectData($('#detailModal-political'), undefined, '政治面貌');

                if (typeof(array['nation_id']) != "undefined")
                    setSelectData($('#detailModal-nation'), array['nation_id'], '民族');
                else
                    setSelectData($('#detailModal-nation'), undefined, '民族');

                if (typeof(array['degree_id']) != "undefined")
                    setSelectData($('#detailModal-degree'), array['degree_id'], '学历');
                else
                    setSelectData($('#detailModal-degree'), undefined, '学历');

                if (typeof(array['birthdate']) != "undefined")
                    $('#detailModal-birthdate').val(array['birthdate']);
                else
                    $('#detailModal-birthdate').val('');

                if (typeof(array['work_date']) != "undefined")
                    $('#detailModal-work-date').val(array['work_date']);
                else
                    $('#detailModal-work-date').val('');

                if (typeof(array['origin']) != "undefined")
                    $('#detailModal-origin').val(array['origin']);
                else
                    $('#detailModal-origin').val('');

                if (typeof(array['phone1']) != "undefined")
                    $('#detailModal-phone1').val(array['phone1']);
                else
                    $('#detailModal-phone1').val('');

                if (typeof(array['phone2']) != "undefined")
                    $('#detailModal-phone2').val(array['phone2']);
                else
                    $('#detailModal-phone2').val('');

                if (typeof(array['address']) != "undefined")
                    $('#detailModal-address').val(array['address']);
                else
                    $('#detailModal-address').val('');

                if (typeof(array['email']) != "undefined")
                    $('#detailModal-email').val(array['email']);
                else
                    $('#detailModal-email').val('');

                if (typeof(array['techlevel_id']) != "undefined")
                    setSelectData($('#detailModal-techlevel'), array['techlevel_id'], '技能档次');
                else
                    setSelectData($('#detailModal-techlevel'), undefined, '技能档次');

                if (typeof(array['others']) != "undefined")
                    $('#detailModal-others').val(array['others']);
                else
                    $('#detailModal-others').val('');

                if (typeof(array['photo_url']) != "undefined")
                    $('#detailModal-photo').attr('src',array['photo_url']);

            }

            /**
             * 加载下拉框数据，以及默认选中值
             * @param {HTMLElementObject} obj 当前下拉框
             * @param {str} selected_data 默认选中值(id)
             * @param {str} type_name     字典数据类型名
             * @param {Boolean} query_type    查询方式，分为字典数据(true)和组织数据(false)
             */
            function setSelectData(obj, selected_data, type_name, query_type=true){
                $.ajax({
                    type: 'get',
                    url: query_type ? '/dict/listDictByTypeName' : '/org/listall',
                    data:{
                        type: query_type ? type_name : 2
                    },
                    success: function(data){
                        // 转换为json对象
                        var dataObj=eval("("+data+")");
                        // console.log(dataObj);
                        var text = '';
                        if(query_type){
                            for(var i in dataObj){
                                if(typeof(selected_data) != "undefined" && selected_data == dataObj[i].id)
                                    text += '<option value="' + dataObj[i].id + '"selected>' + dataObj[i].name + '</option>';
                                else
                                    text += '<option value="' + dataObj[i].id + '">' + dataObj[i].name + '</option>';
                            }
                        }
                        else{
                            for(var i in dataObj){
                                if(typeof(selected_data) != "undefined" && selected_data == dataObj[i][0])
                                    text += '<option value="' + dataObj[i][0] + '"selected>' + dataObj[i][1] + '</option>';
                                else
                                    text += '<option value="' + dataObj[i][0] + '">' + dataObj[i][1] + '</option>';
                            }
                        }
                        obj.html(text);
                        obj.selectpicker('refresh');
                    }
                });
            }


            function removeEmployees(){
                var array = $("#employeelist-table").bootstrapTable('getSelections');//返回所选的行，当没有选择任何行的时候返回一个空数组。
                var target = "";
                //将数组转换成字符串
                for (var i = array.length - 1; i >= 0; i--) {
                    target +=array[i].id;
                    if(i > 0 )
                        target +=",";
                }
                removeEmployeesRequest(target);
            }

            /**
             * onchange响应函数
             * 负责异步发送上传图片请求
             * @param {HTMLElementObject} obj  this
             */
            function UploadPhoto(obj) {
                if( obj.value != "")//只有选中文件才能上传
                    $('#photo-form').submit();//自定义异步上传
                return false;  
            }

            /**
             * 查询treeview 节点
             * @return {[type]} [description]
             */
            function searchTreeview(){
                var pattern = $('#input-search').val();
                $('#tree').treeview('search', [pattern, {
                    ignoreCase: true,     // case insensitive
                    exactMatch: false,    // like or equals
                    revealResults: true,  // reveal matching nodes
                }]);
            }

            
            /**
             * 获得模态框中的信息
             * @return {json} 模态框中所有控件的数据 或者 null
             */
            function getModelData(){
                var array = {};
                array['id'] = $('#detailModal-id').val();
                if(array['id'] == ""){
                    alert("工号不能为空");
                    return null;
                }
                array['name'] = $('#detailModal-name').val();
                if(array['name'] == ''){
                    alert('姓名不能为空');
                    return null;
                }
                array['old_name'] = $('#detailModal-oldname').val();
                array['sex'] = $('#detailModal-sex').val();
                array['emp_type'] = $('#detailModal-worktype').val();
                array['org_id'] = $('#detailModal-org').val();
                array['status_id'] = $('#detailModal-status').val();
                array['position_id'] = $('#detailModal-position').val();
                array['id_num'] = $('#detailModal-id-num').val();
                array['political_status_id'] = $('#detailModal-political').val();
                array['nation_id'] = $('#detailModal-nation').val();
                array['degree_id'] = $('#detailModal-degree').val();
                array['birthdate'] = $('#detailModal-birthdate').val();
                array['work_date'] = $('#detailModal-work-date').val();
                array['origin'] = $('#detailModal-origin').val();
                array['phone1'] = $('#detailModal-phone1').val();
                array['phone2'] = $('#detailModal-phone2').val();
                array['address'] = $('#detailModal-address').val();
                array['email'] = $('#detailModal-email').val();
                array['techlevel_id'] = $('#detailModal-techlevel').val();
                array['others'] = $('#detailModal-others').val();
                array['photo_url'] = $('#detailModal-photo').attr('src');

                return array;
            }
        </script>

        <!-- 发送响应代码 -->
        <script>
            /**
             * 发送请求所有员工数据
             * 数据格式是treeview的数据结构
             * 用于加载trreview数据
             * @return {[type]} [description]
             */
            var treeAllEmployeeRequest = function(){
                $.ajax({
                    type: 'get',
                    url: '/employee/treeAll',
                    success: function(data){
                        var text = "";
                        var dataObj=eval("("+data+")");// 转换为json对象
                        initTreeview(dataObj);
                    }
                });
            };

            /**
             * 查询员工详细信息请求
             * @param  {str} request_str 待查询员工的工号字符串，格式为1,3,4,
             * @param  {Boolean} async       是否异步查询，true-异步，false-同步
             * @return {[type]}             [description]
             */
            var queryEmployeesRequest = function(request_str, async = true){
                async = new Boolean(async);
                $.ajax({
                        type: 'post',
                        url: '/employee/query',
                        async: async,
                        data: {
                            id: request_str
                        },
                        success: function(data) {
                            dataObj = eval("("+data+")");// 转换为json对象
                            console.log(dataObj[0]);
                            console.log(async == false);
                            if (async == true)//异步
                                $('#employeelist-table').bootstrapTable('load',dataObj);
                            else{//同步，代表此操作是修改操作之前读取员工详细信息
                                console.log('hello');
                                initEditModel(dataObj[0]);
                            }
                        }
                    });
            };

            /**
             * 新增员工信息请求
             * FIXME(hx):还没能正确接受到响应
             * @return {[type]} [description]
             */
            var insertEmployeeRequest = function(){
                var array = getModelData();
                // console.log(array);
                if(array != null){
                    $.ajax({
                        url: '/employee/insertEmployee',
                        type: 'post',
                        data: array,
                        success: function(data){
                            // console.log(data);
                            alert('新增员工：' + data);
                            // location.reload();
                            $('#detailModal-id').val('');
                            $('#detailModal-name').val('');
                        }
                    });
                }
            };

            var removeEmployeesRequest = function(request_str){
                // console.log(request_str);
                $.ajax({
                    url: '/employee/removeEmployee',
                    type: 'post',
                    data:{id : request_str},
                    success: function(data){
                        // console.log(data);
                        alert('删除员工 ：' + data);
                        location.reload();
                    },
                });
            };

            var updateEmployeeRequest = function(){
                var array = getModelData();
                console.log(array['political_status_id']);
                $.ajax({
                    url: '/employee/updateEmployee',
                    type: 'post',
                    data: array,
                    success: function(message){
                        alert('更新员工信息：' + message);
                        location.reload();
                    }
                });
            }


            var uploadPhotoRequest = function(formData){
                $.ajax({
                        type: 'post',
                        url: '/employee/uploadPhoto',
                        mimeType: 'multipart/form-data',
                        data: formData,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(photourl){
                            // alert(photourl);
                            $('#detailModal-photo').attr('src',photourl);
                        },
                        error: function(){
                            alert('上传失败');
                        }
                    });
            };
        </script>
    {% endblock body %}
</body>
</html>