<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock head %}
</head>
<body>
    {% block body %}
        {% block top_nav %}
            {{ super() }}
        {% endblock top_nav %}

        {% block left_nav %}
            {{ super() }}
        {% endblock left_nav %}

        <section >
            <!-- 待选人员面板 -->
            <div class="row">
                <div class="panel panel-default col-xs-5" style="margin: 10px;">
                    <div class="panel-heading">待选人员</div>
                    <div class="panel-body">
                        <table id="left-table"></table>
                    </div>
                </div>
                <!-- 待选人员面板end -->

                <!-- 中间的操作按钮 -->
                <div class="panel panel-default col-xs-1">            
                </div>
                <!-- 中间的操作按钮end -->

                <!-- 已选人员面板 -->
                <div class="panel panel-default col-xs-5" style="margin: 10px;">
                    <div class="panel-heading">已选人员</div>
                    <div class="panel-body">
                        <table id="right-table"></table>
                    </div>
                </div><!-- 已选人员面板end -->

            </div>

            <div>
                <form id="formal-form">
                    <div class="row">
                        <label style="margin: 20px;">定职日期</label>
                        <input type="date" id="change_date" class="form-control" style="width: 20%;display: inline;" required>
                        <label style="margin: 20px;">执行人</label>
                        <input type="text" name="" class="form-control" style="width: 20%;display: inline;" value="{% if current_user.is_authenticated -%}{{ current_user.name }}{%- endif %}" id="exectuor" required>
                        <label style="margin: 20px;">报到日期</label>
                        <input type="date" id="report_date" class="form-control" style="width: 20%;display: inline;" required>
                        <input type="submit" class="btn btn-primary" style="margin: 5px;" value="确认">
                        <button class="btn" style="margin: 5px;">取消</button>
                    </div>
                    <div class="row">
                        <input type="checkbox" style="margin: 15px;" id="is_Change" onchange="isChange()" checked>是否进行内部变动<br>
                        <label style="margin: 20px;" >新部门&nbsp;</label>
                        <select class="selectpicker" id="org_select" style="margin: 10%;" ></select>
                        <label style="margin: 20px;">新职名</label>
                        <select class="selectpicker" id="position_select" ></select>
                    </div>
                    <div class="row">
                        <label style="margin: 20px;">备注&nbsp;&nbsp;&nbsp;</label>
                        <textarea class="form-control" rows="3" cols="15" style="width: 50%;display: inline;"></textarea>
                    </div>
                </form>
            </div>
        </section> 

        {% block base_script %}
            {{ super() }}
            <script src="../static/js/bootstrap-treeview.js"></script>
            <script src="../static/js/bootstrap-table.js"></script>
            <script src="../static/js/bootstrap-select.js"></script>
            <script src="../static/js/jquery.form.js"></script>
            <script src="../static/js/bootstrap-table-export.js"></script>
            <script src="../static/js/tableExport.js"></script><!-- bootstrap table本身是没有实现表格的导出的，需要扩展插件tableExport，扩展的tableExport在导出csv，txt，sql，json等格式的时候能很好的支持中文 -->
            {% endblock base_script %}
            <!-- 初始化功能 -->
            <script type="text/javascript">
                $(document).ready(function() {
                    initEmplpoyeeTable();
                    queryRequest($('#org_select'), '所属部门', false);
                    queryRequest($('#position_select'), '职名');
                    initSubmit();
                });

                function initEmplpoyeeTable(){
                    $('#left-table').bootstrapTable({
                        url: '/employee/formal/list/practice',
                        search: true, //是否显示 搜索框
                        showColumns: true, //是否显示 选择显示列按钮
                        pagination: true, //设置分页
                        pageSize: 7,
                        idField: 'id', //重要,可设置checkbox的值为指定字段
                        selectItemName: 'id', //设置checkbox name属性，可用于遍历获取选中值
                        clickToSelect: true, //将在点击行时，自动选择checkbox
                        striped: true, //是否显示 表格条纹
                        onDblClickRow: function(row, $element, field){
                            $('#left-table').bootstrapTable('remove', {field: 'id', values: new Array(row.id)});
                            $('#right-table').bootstrapTable('append', row);
                        },
                        columns: [{
                            checkbox: true
                        }, {
                            field: 'id',
                            title: '工号',
                            sortable: true
                        }, {
                            field: 'name',
                            title: '名称',
                            sortable: true
                        }, {
                            field: 'emp_type_name',
                            title: '用工性质',
                            sortable: true
                        }, {
                            field: 'org_name',
                            title: '所属部门',
                            sortable: true
                        }, {
                            field: 'position',
                            title: '职名',
                            sortable: true
                        }]
                    });

                    $('#right-table').bootstrapTable({
                        // search: true, //是否显示 搜索框
                        showColumns: true, //是否显示 选择显示列按钮
                        pagination: true, //设置分页
                        pageSize: 7,
                        idField: 'id', //重要,可设置checkbox的值为指定字段
                        selectItemName: 'id', //设置checkbox name属性，可用于遍历获取选中值
                        clickToSelect: true, //将在点击行时，自动选择checkbox
                        onDblClickRow: function(row, $element, field){
                            $('#right-table').bootstrapTable('remove', {field: 'id', values: new Array(row.id)});
                            $('#left-table').bootstrapTable('append', row);
                        },
                        columns: [{
                            checkbox: true
                        }, {
                            field: 'id',
                            title: '工号',
                            sortable: true
                        }, {
                            field: 'name',
                            title: '名称',
                            sortable: true
                        }, {
                            field: 'emp_type_name',
                            title: '用工性质',
                            sortable: true
                        }, {
                            field: 'org_name',
                            title: '所属部门',
                            sortable: true
                        }, {
                            field: 'position',
                            title: '职名',
                            sortable: true
                        }]
                    });
                }

                function initDetailModalFunc(id){
                    window.open('/employee/detail?id=' + id);
                }

                function initSubmit(){
                    $('#formal-form').submit(function(event){
                        event.preventDefault();
                        var data = {};
                        if($("#is_Change").is(':checked')){
                            data['org_id'] = $('#org_select').val();
                            data['position_id'] = $('#position_select').val();
                        }
                        data['id'] = getRightTableData();
                        data['change_date'] = $('#change_date').val();
                        data['exectuor'] = $('#exectuor').val();
                        data['report_date'] = $('#report_date').val();
                        console.log(data);
                        formalRequest(data);
                    });
                }
            </script>

            <!-- 业务逻辑 -->
            <script type="text/javascript">
                function getRightTableData(){
                    var array = $('#right-table').bootstrapTable('getData');
                    var id_string = '';
                    for (var i = 0; i < array.length; i++) {
                        id_string += array[i].id;
                        if(i < array.length - 1)
                            id_string += ',';
                    }
                    console.log(id_string);
                    return id_string;
                }

                function isChange(){
                    // console.log($("#is_Change").is(':checked'));
                    if ($("#is_Change").is(':checked')) {
                        console.log('true');
                        $('#org_select').prop('disabled', false);
                        $('#position_select').prop('disabled',false);
                    }
                    else{
                        console.log('false');
                        $('#org_select').prop('disabled','disabled');
                        $('#position_select').prop('disabled','disabled');
                    }
                }
            </script>

            <!-- 发送请求 -->
            <script type="text/javascript">
                /**
                 * 发送字典/组织查询请求
                 * @param {HTMLElementObject} obj 当前下拉框
                 * @param {str} type_name     字典数据类型名
                 * @param {Boolean} query_type    查询方式，分为字典数据(true)和组织数据(false)
                 */
                function queryRequest(obj, type_name, query_type=true){
                    $.ajax({
                        type: 'get',
                        url: query_type ? '/dict/listDictByTypeName' : '/org/listall',
                        data:{
                            type: query_type ? type_name : 2
                        },
                        success: function(data){
                            // 转换为json对象
                            var dataObj=eval("("+data+")");
                            // console.log(dataObj);
                            var text = '';
                            if(query_type){
                                for(var i in dataObj){
                                    if(typeof(selected_data) != "undefined" && selected_data == dataObj[i].id)
                                        text += '<option value="' + dataObj[i].id + '"selected>' + dataObj[i].name + '</option>';
                                    else
                                        text += '<option value="' + dataObj[i].id + '">' + dataObj[i].name + '</option>';
                                }
                            }
                            else{
                                for(var i in dataObj){
                                    if(typeof(selected_data) != "undefined" && selected_data == dataObj[i][0])
                                        text += '<option value="' + dataObj[i][0] + '"selected>' + dataObj[i][1] + '</option>';
                                    else
                                        text += '<option value="' + dataObj[i][0] + '">' + dataObj[i][1] + '</option>';
                                }
                            }
                            obj.html(text);
                            obj.selectpicker('refresh');
                        }
                    });
                }
                function formalRequest(array){
                    $.ajax({
                        url: '/employee/formal/update',
                        type: 'post',
                        data: array,
                        async: false,
                        success: function(message){
                            alert('定职管理 ：' + message);
                            $('#left-table').bootstrapTable('refresh', {url: '/employee/scan/list_all'});
                            $('#right-table').bootstrapTable('removeAll');
                        }
                    });
                }

            </script>
    {% endblock body %}
</body>
</html>