<!DOCTYPE html>
<html lang="zh">
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="../static/css/login-style.css">
    {% endblock head %}  
</head>
<body>
    {% block body %}
    <section class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
        
        <form method="POST" action="/login">
            <legend>客运段人事管理系统</legend>
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name(class='form-control',required='required') }}
            <br>
            {{ form.pwd.label }}
            {{ form.pwd(class='form-control',required='required') }}
            <br>
            <div align="right">
                {{ form.submit(class='btn btn-primary')}}
            </div>
        </form>
    </section>
        
    {% block base_script %}
        {{ super() }}
    {% endblock base_script %}
    {% endblock body %}
</body>
</html>