<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% block head %}
        {{ super() }}
    {% endblock head%}
</head>
<body>
    {% block body %}
        {% block top_nav %}
            {{ super() }}
        {% endblock top_nav %}

        {% block left_nav %}
            {{ super() }}
        {% endblock left_nav %}

        <div class="container">
            <div class="col-sm-4" id="tree" ></div>
            <!-- 表格区域 -->
            <div class="col-sm-8">
                <!-- 表格的工具栏 -->
                <div id="table_toolbar" class="btn-group">
                    <button id="btn_addSeg" class="btn btn-default" onclick="initInsertModalFunc()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                    <button id="btn_removeSeg" class="btn btn-default" onclick="removeDictionarysFunc()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                    </button>
                    <!-- 批处理下拉按钮 -->
                    <div class="btn-group">
                        <button id="btn_batch" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>批处理
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="download_btn">下载格式文件</a></li>
                            <li><a href="#unloadModal" data-toggle="modal">批量上传数据</a></li>
                        </ul>
                    </div>
                </div><!-- 表格的工具栏end -->

                <table id="table"></table>

            </div><!-- 表格区域end -->
        </div>

        {% block base_script %}
            {{ super() }}
            <script src="../static/js/bootstrap-treeview.js"></script>
            <script src="../static/js/bootstrap-table.js"></script>
            <script src="../static/js/bootstrap-select.js"></script>
            <script src="../static/js/jquery.form.js"></script>
            <script src="../static/js/bootstrap-table-export.js"></script>
            <script src="../static/js/tableExport.js"></script><!-- bootstrap table本身是没有实现表格的导出的，需要扩展插件tableExport，扩展的tableExport在导出csv，txt，sql，json等格式的时候能很好的支持中文 -->
        {% endblock base_script %}

        <script>
            $(document).ready(function(){
                $.ajax({
                    type: 'get',
                    url: '/org/treeAll',
                    success: function(data){
                        // $(tab) = $('#type_tab');
                        var text = "";
                        // 转换为json对象
                        var dataObj=eval("("+data+")");
                        // alert(dataObj);
                        $('#tree').treeview({
                            levels: 9, //设置默认情况下树会展开的深层级别数量
                            data: dataObj,
                            expandIcon: "glyphicon glyphicon-chevron-right",
                            collapseIcon: "glyphicon glyphicon-chevron-down",
                            showTags: true,
                            onNodeSelected: function(event, node){
                                $('#table').bootstrapTable('refresh',{url:'/org/listChildsByName?name=' + node.text});
                            },
                            onNodeUnselected: function(event, node){
                                //实现点击任何部位都能收缩,不再是点击箭头才能收缩
                                // var tree = $('#tree')
                                // console.log(node);
                                // if(node.state.expanded){
                                //     tree.treeview('collapseNode', node.nodeId);
                                // }else {
                                //     tree.treeview('expandNode', node.nodeId);
                                // }
                            }
                        })
                    }
                });
                $('#table').bootstrapTable({
                    toolbar:'#table_toolbar',
                    search: true, //是否显示 搜索框
                    showColumns: true, //是否显示 选择显示列按钮
                    pagination: true, //设置分页
                    pageList: [25,50,100],
                    pageSize: 25,
                    idField: 'id', //重要,可设置checkbox的值为指定字段
                    selectItemName: 'id', //设置checkbox name属性，可用于遍历获取选中值
                    clickToSelect: true, //将在点击行时，自动选择checkbox
                    striped: true, //是否显示 表格条纹
                    showExport: true, //是否显示导出按钮
                    exportDataType: 'basic',//FIXME:导出文件方式  支持: 'basic', 'all', 'selected'. basic：本页数据，all，获取服务器所有数据，selected,本页选择行数据
                    Icon: 'glyphicon-export', //导出的图标设置
                    exportOptions:{ //导出文件格式设置
                        ignoreColumn: [0,5],
                        fileName: '客运段信息表'+new Date().getFullYear() + (new Date().getMonth() + 1) + new Date().getDate()
                    },
                    columns: [{
                        checkbox: true,
                    }, {
                        field: 'id',
                        title: '编号',
                        sortable: true
                    }, {
                        field: 'name',
                        title: '名称',
                        sortable: true
                    }, {
                        field: 'parent_name',
                        title: '所属上级',
                        sortable: true
                    }, {
                        field: 'num',
                        title: '序号',
                        sortable: true,
                    }, {
                        field: 'operation',
                        title: '操作',
                        align: 'center',
                        valign: 'middle',
                        formatter: function(value, row, index){
                            return "<a href='#' data-toggle='modal' onclick='initEditModalFunc(\""+row.id+"\",\""+row.name+"\",\""+row.parent_name+"\")'>修改</a> " + 
                            " <a href='#' onclick='removeSegmentRequest(\""+row.id+"\")' >删除</a>"
                        }
                    }],
                });
            });
        </script>
    {% endblock body %}
</body>
</html>