<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:5px;">
      <tr>
          <td height="30px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="97%" height="35" bgcolor="#FAF7EB"><p align="center"><font style="font-size:18px; font-weight:700">西南交通大学西南交通大学学生学籍信息表</font></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#6E6E6E" height=30>
        
          
          
             
            <table border="1" width="100%" cellspacing="0" cellpadding="0" bordercolorlight="#6C6C6C" bordercolordark="#F7F7F5" id="table4">
            <tr>
                <td height="28" width="12%" bgcolor="#F0F9FB">&nbsp;学&nbsp;&nbsp;&nbsp;&nbsp;号</td>
                <td height="28" width="25%" bgcolor="#ffffff">&nbsp;2014112138</td>
                <td height="28" width="12%" bgcolor="#F0F9FB">&nbsp;姓&nbsp;&nbsp;&nbsp;&nbsp;名</td>
                <td height="28" width="25%" bgcolor="#ffffff">&nbsp;黄鑫</td>
                <td height="160" rowspan="6" align="center" bgcolor="#ffffff"><img src="http://jiaowu.swjtu.edu.cn:80//servlet/StudentPhotoView?UserName=2014112138" width="120" height="160"></td>
            </tr>
            <tr>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;英文姓名</td>
                <td bgcolor="#ffffff">&nbsp;NULL</td>
                <td bgcolor="#F0F9FB">&nbsp;性&nbsp;&nbsp;&nbsp;&nbsp;别</td>
                <td bgcolor="#ffffff">&nbsp;男</td>
            </tr>
            <tr>
                <td height="28"   bgcolor="#F0F9FB">&nbsp;出生年月</td>
                <td   bgcolor="#ffffff">&nbsp;1996-07-09</td>
                <td   bgcolor="#F0F9FB">&nbsp;学籍状态</td>
                <td   bgcolor="#ffffff">&nbsp;
                
                    
                           有学籍
                    
                    
                
                &nbsp;&nbsp;在读</td>
            </tr>
            <tr>
                <td height="28" bgcolor="#F0F9FB">&nbsp;所在学院</td>
                <td  bgcolor="#ffffff">&nbsp;信息科学与技术学院</td>
                <td  bgcolor="#F0F9FB">&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;级</td>
                <td  bgcolor="#ffffff">&nbsp;2014</td>
            </tr>
            <tr>
                <td height="28" bgcolor="#F0F9FB">&nbsp;所在专业</td>
                <td height="28" bgcolor="#ffffff">&nbsp;软件工程</td>
                <td height="28" bgcolor="#F0F9FB">&nbsp;班&nbsp;&nbsp;&nbsp; 级</td>
                <td height="28" bgcolor="#ffffff">&nbsp;软件2014-02班</td>
            </tr>
            <tr>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;籍&nbsp;&nbsp;&nbsp; 贯</td>
                <td height="28" bgcolor="#ffffff">&nbsp;广东省深圳市宝安区</td>
                <td height="28" bgcolor="#F0F9FB">&nbsp;民&nbsp;&nbsp;&nbsp; 族</td>
                <td height="28" bgcolor="#ffffff">&nbsp;汉族</td>
            </tr>
            <tr>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;政治面貌</td>
                <td height="28" bgcolor="#ffffff" >&nbsp;中国共产主义青年团团员</td>
                <td height="28" bgcolor="#F0F9FB">&nbsp;身份证号</td>
                <td height="28" colspan="2" bgcolor="#ffffff">&nbsp;441622199607092074</td>
            </tr>
            <tr>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;考 生 号</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;14440306101217</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;乘车区间</td>
                <td height="28" bgcolor="#ffffff" colspan="2">&nbsp;广州</td>
            </tr>
            
            <tr>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;联系电话</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;18328718993</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;家庭住址</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;广东&nbsp;河源市&nbsp;市&nbsp;广东深圳市宝安区宝安中学高中部</td>
            </tr>
            
            <tr id="TR1" >
                <td height="28" bgcolor="#F0F9FB">&nbsp;生 源 地</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;440306</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;毕业学校</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;深圳市宝安中学                </td>
            </tr>
            <tr id="TR2" >
                <td height="28" bgcolor="#F0F9FB">&nbsp;考生类别</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;第一批次本科</td>
                <td height="28" bgcolor="#F0F9FB">&nbsp;录取形式</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;理科</td>
            </tr>
            <tr id="TR3" >
                <td height="28"  bgcolor="#F0F9FB">&nbsp;外语语种</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;英语</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;入学时间</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;2014-09-01</td>
            </tr>
            <tr id="TR3" >
                <td height="28"  bgcolor="#F0F9FB">&nbsp;双学位专业</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;特殊学生标记</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;<font color=red></font></td>
            </tr>
            <tr id="TR4" style="display:none" >
                <td height="28"  bgcolor="#F0F9FB">&nbsp;宿 舍 号</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;宿舍电话</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;</td>
            </tr>
            <tr id="TR5" style="display:none" >
                <td height="28"  bgcolor="#F0F9FB">&nbsp;母亲电话</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;父亲电话</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;</td>
            </tr>
            <tr id="TR6" style="display:none" >
                <td height="28" width="105" bgcolor="#F0F9FB">&nbsp;其他电话</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;</td>
                <td height="28"  bgcolor="#F0F9FB">&nbsp;电子邮件</td>
                <td height="28"   bgcolor="#ffffff" colspan="2">&nbsp;</td>
            </tr>
            <tr id="TR7" style="display:none" >
                <td height="28"  bgcolor="#F0F9FB">&nbsp;身&nbsp;&nbsp;&nbsp; 高</td>
                <td height="28"  bgcolor="#ffffff">&nbsp;</td>
                <td height="28" bgcolor="#F0F9FB">&nbsp;体重/血型</td>
                <td height="28"  bgcolor="#ffffff" colspan="2">&nbsp;&nbsp;KG&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;血型：A</td>
            </tr>
            <tr id="TR8" style="display:none" >
                <td height="28"  bgcolor="#F0F9FB">&nbsp;个人特长</td>
                <td height="28"  bgcolor="#ffffff" colspan="4">&nbsp;</td>
            </tr>
            <tr id="TR9" style="display:none" >
                <td height="28"  bgcolor="#F0F9FB">&nbsp;获奖情况</td>
                <td height="28"  bgcolor="#ffffff" colspan="4">&nbsp;</td>
            </tr>
            <tr id="TR10" style="display:none" >
                <td height="28"  width="12%" bgcolor="#F0F9FB">&nbsp;备&nbsp;&nbsp;&nbsp; 注</td>
                <td height="28"  width="88%" bgcolor="#ffffff" colspan="4">&nbsp;596
                
                    
                           <font color=blue>收费正常</font>
                    
                    
                    
                
                </td>
            </tr>
            </table>
            
          
        
        </td>
      </tr>
      <tr class="xx">
          <td height="35" colspan=5 bgcolor="#ffffff"><a href="javascript:ViewType('view')"><font style="font-size:13px;" color=blue face="宋体"><u>√显示该生所有信息</u></font></a>&nbsp;&nbsp;&nbsp;&nbsp; 
          <a href="javascript:ViewType('hidden')"><font style="font-size:13px;" color=red face="宋体"><u>×只显示简要信息</u></font></a>&nbsp;&nbsp;&nbsp;&nbsp; 
          <a href="http://jiaowu.swjtu.edu.cn:80//servlet/StudentInfoMapAction?MapID=101&PageUrl=../public/student/StudentStatusCertificate.jsp&student_id=2014112138" target=_blank><font style="font-size:13px;" face="宋体"><u>√打印学籍证明</u></font></a>&nbsp;&nbsp;&nbsp;&nbsp; 
          <a href="javascript:window.print()"><font style="font-size:13px;"><u>√打印本页 </u></font></a>&nbsp;&nbsp;&nbsp;&nbsp; 
          </td>
      </tr>
      
    </table>
